{% extends "base.html" %}

{% block content %}

<div class="courses-header">

    <h2>Capacitaciones</h2>

    <p>
        Sé parte de Guardian Zero y ayuda a salvar vidas
    </p>

</div>

<div class="course-card">

    <div class="course-img">
        <img src="{{ url_for('static', filename='img/CruzRoja.jpg') }}">
    </div>

    <div class="course-content">
        <h4>
            Curso Básico de Salvamento
        </h4>

        <p>
            Cruz Roja en búsqueda de voluntarios
        </p>

        <button class="course-btn">
            Leer más
        </button>

    </div>

</div>

<div class="course-card">

    <div class="course-img">
        <img src="{{ url_for('static', filename='img/proteccion_civil.jpg') }}">
    </div>

    <div class="course-content">
        <h4>
            Curso de Protección Civil
        </h4>

        <p>
            Conoce los cursos de Protección Civil
        </p>

        <button class="course-btn">
            Leer más
        </button>

    </div>

</div>

<div class="course-card">

    <div class="course-img">
        <img src="{{ url_for('static', filename='img/capa1.jpg') }}">
    </div>

    <div class="course-content">
        <h4>
            Capacitación en Rescate Urbano
        </h4>

        <p>
            Entrenamiento para situaciones de emergencia
        </p>

        <button class="course-btn">
            Leer más
        </button>

    </div>

</div>

{% endblock %}