{% extends "base.html" %}

{% block content %}

<div class="forum-header">

    <h2>Foro de Voluntarios</h2>

    <p>
        Publica una duda, consejo o experiencia
    </p>

</div>

<button class="forum-toggle" onclick="toggleForumForm()">
    Crear nueva discusión
</button>

<div class="forum-form" id="forumForm">

    <form enctype="multipart/form-data">

        <label>Título:</label>
        <input type="text" placeholder="Escribe el título">

        <label>Descripción:</label>
        <input type="text" placeholder="Breve descripción">

        <label>Contenido:</label>
        <textarea placeholder="Desarrolla tu idea..."></textarea>

        <label>Imagen (opcional):</label>
        <input type="file" accept="image/*">

        <button type="submit" class="forum-submit">
            Publicar
        </button>

    </form>

</div>

<h4 style="text-align:center; margin-top:20px; color:#093c4a;">
    Publicaciones Recientes
</h4>


<div class="forum-post">
    <img 
        src="{{ url_for('static', filename='img/rescate1.jpg') }}" 
        class="post-image"
    >
    <div class="post-content">
        <h4>¿Cómo prepararse para un rescate?</h4>
        <small>Juan Pérez · Hace 2 horas</small>

        <p>
            ¿Qué equipo recomiendan llevar en zonas urbanas?
        </p>

    </div>

</div>

<div class="forum-post">
    <img 
        src="{{ url_for('static', filename='img/rescate1.jpg') }}" 
        class="post-image"
    >

    <div class="post-content">
        <h4>Experiencia en Protección Civil</h4>
        <small>María López · Ayer</small>

        <p>
            Comparto mi experiencia en mi primer simulacro.
        </p>

    </div>

</div>

<div class="forum-post">
    <img 
        src="{{ url_for('static', filename='img/rescate1.jpg') }}" 
        class="post-image"
    >

    <div class="post-content">
        <h4>Curso de primeros auxilios</h4>
        <small>Carlos Ruiz · Hace 3 días</small>

        <p>
            ¿Dónde recomiendan certificarse?
        </p>

    </div>

</div>

<script>

function toggleForumForm() {
    const form = document.getElementById("forumForm");

    if (form.style.display === "block") {
        form.style.display = "none";
    } else {
        form.style.display = "block";
    }
}

</script>

{% endblock %}