{% extends "base.html" %}

{% block content %}

<div class="logo">
    <img src="{{ url_for('static', filename='icons/logo.png') }}">
</div>

<div class="card">
    <div class="title">
        Registro de Voluntario
    </div>

    <form action="{{ url_for('home') }}" method="GET">
        <div class="input-group">
            <label>Nombre completo</label>
            <input type="text" required>

            <div class="help-text">
                Ingresa tu nombre tal como aparece en tu identificación.
            </div>
        </div>

        <div class="input-group">
            <label>Correo electrónico</label>
            <input type="email" required>

            <div class="help-text">
                Usa un correo válido: ejemplo@gmail.com
            </div>
        </div>

        <div class="input-group">
            <label>Contraseña</label>
            <input type="password" required>

            <div class="help-text">
                Mínimo 8 caracteres, una mayúscula y un número.
            </div>
        </div>

        <div class="input-group">
            <label>Teléfono</label>
            <input type="tel" required>

            <div class="help-text">
                Solo números, 10 dígitos.
            </div>
        </div>

        <div class="input-group">
            <label>Dirección</label>
            <input type="text" required>

            <div class="help-text">
                Calle, colonia, municipio y estado.
            </div>
        </div>

        <div class="success-msg">
            Verás un mensaje confirmando si el registro fue exitoso o no. <br>
            Si ya tienes cuenta, puedes iniciar sesión desde el enlace inferior del formulario.
        </div>


        <button class="btn-primary">
            Registrarse
        </button>

    </form>

    <div class="form-footer">

        ¿Ya tienes cuenta?
        <a href="{{ url_for('login') }}">
            Inicia sesión
        </a>

    </div>

</div>

{% endblock %}